
:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

.app-container {
  display: flex;
  background-color: var(--body-bg-color);
  
}

.content-container {
  width: 50%;
}

.image-container{
  width: 50%;
}

.image-container img {

 margin-top: 0;
 margin-right: 10rem;
}